[submodule "thirdparty/smol-v"]
	path = thirdparty/smol-v
	url = https://github.com/aras-p/smol-v
[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = https://github.com/facebook/zstd.git
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/dxc-bin"]
	path = thirdparty/dxc-bin
	url = https://github.com/renderbag/dxc-bin.git
